{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    
  <link rel="stylesheet" href="{% static 'all.css' %}">
  
</head>

<body>
<div class="hed">
    <h1> <span>A</span>pk <span>L</span>ive</h1>
  </div>
  
  <div class="menu">
    
    
    
     <a href="all">
       <div class="m-body">
         <h5 >All</h5>
       </div>
     </a>
    
    
    <a href="social">
      <div class="m-body">
        <h5>Social</h5>
      </div>
    </a>
    
    
    
     <a href="editing">
      <div class="m-body">
        <h5>Editing</h5>
      </div>
    </a>
    
    
     <a href="game">
      <div class="m-body">
        <h5 class="select">Games</h5>
      </div>
    </a>

    
    
    
    
  </div>
  
  <br />
  <br />




<div class="app">
  
  
  {% for gme in gme %}
  
  
  <a href="view?id={{ gme.id }}">
    <div class="app-body">
       <img src="{{ gme.appurl }}">
       <h5>{{ gme.appname }}</h5>
    </div>
    
  </a>
  
  {% endfor %}
  
  
  
</div>



</body>

</html>