* {
  padding: 0px ;
  margin: 0px ;
}
body {
  background: #BFFAE1 ;
}
span{
  color: red ;
}
.hed {
  background: #19FF66 ;
  margin: 0px ;
  padding: 0px ;
  text-align: center ;
}
.hed span {
  color: red ;
}
.menu {
  text-align: center ;
}
.m-body {
  float: left;
  width: 20%;
  margin-left: 15px ;
  height: 20px ;
  margin-top: 5px ;
  background: #19FF66 ;
  border-radius: 10px ;
}
.menu a {
  text-decoration: none ;
  color: black ;

}
.select {
  color: red ;
}

.app {
  background: red ;
}

.app-body {
  float: left ;
  width: 31% ;
  height: 100px ;
  background: #19FF66 ;
  margin-left: 5px ;
  margin-top: 10px ;
  text-align: center ;
}

.app-body img {
  width: 80px ;
  height: 80px ;
}
span {
  color: red ;
}
a{
  color: black ;
}